<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../js/noti.js" defer></script>
    <style>
      @import url(../css/notifications.css);
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        background-color: #eee;
        font-family: sans-serif;
      }

      h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 40px;
        padding: 10px;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, greenyellow, dodgerblue);
      }

      ul {
        width: 950px;
        display: flex;
        justify-content: space-evenly;
      }

      ul li {
        list-style-type: none;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 7px;
        background-color: orange;
      }

      ul li a {
        text-decoration: none;
        color: #fff;
      }

      ul li:hover {
        background-color: orangered;
      }

      nav {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 6px dashed orange;
        margin-bottom: 0.5rem;
      }
      .nav-container > h2 {
        text-align: center;
      }
      .status {
        position: fixed;
        top: 10px;
        right: 20px;
        padding: 20px;
        font-size: 1.35rem;
        border-radius: 50vw;
        background-color: lightgreen;
      }
    </style>
    <title>Layouts</title>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <h2>confetti cuisine</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/subscribers/new">Contact</a></li>
          <li><a href="/users/login">User</a></li>
        </ul>
      </div>
    </nav>
    <% if (loggedIn) { %>
    <div class="status">
      Logged in as
      <a href="<%=`/users/${currentUser._id}`%>">
        <%= currentUser.fullName %>
      </a>
      <br />
      <a
        href="/users/logout"
        style="
          color: red;
          text-align: right;
          display: inline-block;
          width: 100%;
        "
        >Log out</a
      >
    </div>
    <%} else {%>
    <div class="status">
      <a href="/users/login">Log In</a>
    </div>
    <% } %>
    <div>
      <% if (flashMessages) { %> <% if (flashMessages.success) { %>
      <div class="flashes">
        <div class="left" style="background-color: greenyellow">
          <i class="fa-solid fa-check"></i>
        </div>
        <div class="center">
          <p>Changes saved</p>
          <p><%= flashMessages.success %></p>
        </div>
        <div class="right">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <% } else if (flashMessages.error) { %>
      <div class="flashes">
        <div class="left" style="background-color: #5b0c0d">
          <i class="fa-solid fa-trash" style="color: #f45f61"></i>
        </div>
        <div class="center">
          <p style="color: #dc6667">Operation Failed</p>
          <p>User action cannot be made</p>
        </div>
        <div class="right">
          <i class="fa-solid fa-xmark" data-id="3"></i>
        </div>
      </div>
      <% } %> <% } %>
    </div>
    <%- body%>
  </body>
</html>
