<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 40px;
        padding: 10px;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, greenyellow, dodgerblue);
      }

      ul {
        width: 950px;
        display: flex;
        justify-content: space-evenly;
      }

      ul li {
        list-style-type: none;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 7px;
        background-color: orange;
      }

      ul li a {
        text-decoration: none;
        color: #fff;
      }

      ul li:hover {
        background-color: orangered;
      }

      nav {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 6px dashed orange;
        margin-bottom: 0.5rem;
      }
      .nav-container > h2 {
        text-align: center;
      }
      .thanks {
        width: 100%;
        text-align: center;
      }
    </style>
    <title>Layouts</title>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <h2>confetti cuisine</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/subscribers/new">Contact</a></li>
          <li><a href="/users/new">User</a></li>
        </ul>
      </div>
    </nav>
    <%- body%>
  </body>
</html>
